<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

    <bean id="igTicketService"
        class="com.mpos.lottery.te.gameimpl.instantgame.service.impl.InstantTicketServiceImpl">
        <property name="uuidManager" ref="uuidManager" />
        <property name="instantTicketDao" ref="instantTicketDao" />
        <property name="instantVIRNPrizeDao" ref="instantVIRNPrizeDao" />
        <property name="payoutDao" ref="payoutDao" />
        <property name="payoutDetailDao" ref="payoutDetailDao" />
        <property name="sysConfigurationDao" ref="sysConfigurationDao" />
        <property name="creditService" ref="creditService" />
        <property name="merchantService" ref="merchantService" />
        <property name="validationStrategy" ref="validationStrategy" />
        <property name="criteriaActiveStrategy" ref="criteriaActiveStrategy" />
        <!-- added by James on 17th June -->
       <property name="iGBatchReportDao" ref="iGBatchReportDao" />
       <property name="iGFailedTicketsReportDao" ref="iGFailedTicketsReportDao" />
       <property name="iGPayoutDetailTempDao"  ref="iGPayoutDetailTempDao" />
       <property name="iGPayoutTempDao"   ref="iGPayoutTempDao" />
        
    </bean>
    
    <bean id="igOperatorService"
        class="com.mpos.lottery.te.gameimpl.instantgame.service.impl.InstantOperatorServiceImpl">
         <property name="uuidManager" ref="uuidManager" />
         <property name="igOperatorBatchDao" ref="igOperatorBatchDao" />
         <property name="iGPayoutTempDao"   ref="iGPayoutTempDao" />
         <property name="iGBatchReportDao" ref="iGBatchReportDao" />
         <property name="iGFailedTicketsReportDao" ref="iGFailedTicketsReportDao" />
         <property name="iGPayoutDetailTempDao"  ref="iGPayoutDetailTempDao" />
    </bean>    
    
    <bean id="criteriaActiveStrategy"
        class="com.mpos.lottery.te.gameimpl.instantgame.domain.logic.active.CriteriaActiveStrategyProxy">
        <property name="instantTicketDao" ref="instantTicketDao" />
        <property name="instantGameDrawDao" ref="igGameDrawDao" />
        <property name="operationParameterDao" ref="igOperationParameterDao" />
    </bean>

    <bean id="validationStrategy"
        class="com.mpos.lottery.te.gameimpl.instantgame.domain.logic.ValidationStrategyProxy">
        <property name="prizeLevelDao" ref="prizeLevelDao" />
        <property name="instantVIRNPrizeDao" ref="instantVIRNPrizeDao" />
        <property name="transactionRetryLogService" ref="transactionRetryLogService" />
        <property name="instantGameDrawDao" ref="igGameDrawDao" />
        <property name="operationParameterDao" ref="igOperationParameterDao" />
    </bean>

    <bean id="validationReversalStrategy"
        class="com.mpos.lottery.te.gameimpl.instantgame.domain.logic.ValidateReversalStrategy">
        <property name="reversalStrategyFactory" ref="reversalStrategyFactory" />
        <property name="instantTicketDao" ref="instantTicketDao" />
        <property name="instantVIRNPrizeDao" ref="instantVIRNPrizeDao" />
        <property name="creditService" ref="creditService" />
        <property name="merchantService" ref="merchantService" />
        <property name="payoutDao" ref="payoutDao" />
    </bean>
    
    <bean id="batchValidationReversalStrategy"
        class="com.mpos.lottery.te.gameimpl.instantgame.domain.logic.BatchValidationReversalStrategy">
        <property name="reversalStrategyFactory" ref="reversalStrategyFactory" />
        <property name="instantTicketDao" ref="instantTicketDao" />
        <property name="instantVIRNPrizeDao" ref="instantVIRNPrizeDao" />
        <property name="creditService" ref="creditService" />
        <property name="merchantService" ref="merchantService" />
        <property name="payoutDao" ref="payoutDao" />
    </bean>    

    <!-- ========================================================== -->
    <!-- DAO DEFINITION ........................................... -->
    <!-- ========================================================== -->
    <bean id="instantTicketDao" parent="baseJpaDao"
        class="com.mpos.lottery.te.gameimpl.instantgame.dao.jpa.InstantTicketDaoImpl">
    </bean>

    <bean id="instantVIRNPrizeDao" parent="baseJpaDao"
        class="com.mpos.lottery.te.gameimpl.instantgame.dao.jpa.InstantVIRNPrizeDaoImpl">
    </bean>

    <bean id="igGameDrawDao" parent="baseJpaDao"
        class="com.mpos.lottery.te.gameimpl.instantgame.dao.jpa.InstantGameDrawDaoImpl">
    </bean>
    <bean id="igOperationParameterDao" parent="baseJpaDao"
        class="com.mpos.lottery.te.gameimpl.instantgame.dao.jpa.IgOperationParameterDaoImpl">
    </bean>    
    <!-- added by James on 17th June -->
    <bean id="iGBatchReportDao" parent="baseJpaDao"
        class="com.mpos.lottery.te.gameimpl.instantgame.dao.jpa.IGBatchReportDaoImpl">
    </bean>   
    
    <bean id="iGFailedTicketsReportDao" parent="baseJpaDao"
        class="com.mpos.lottery.te.gameimpl.instantgame.dao.jpa.IGFailedTicketsReportDaoImpl">
    </bean>
    
    <bean id="iGPayoutDetailTempDao" parent="baseJpaDao"
        class="com.mpos.lottery.te.gameimpl.instantgame.dao.jpa.IGPayoutDetailTempDaoImpl">
    </bean>  
    
    <bean id="iGPayoutTempDao" parent="baseJpaDao"
        class="com.mpos.lottery.te.gameimpl.instantgame.dao.jpa.IGPayoutTempDaoImpl">
    </bean>  
    
    <bean id="igOperatorBatchDao" parent="baseJpaDao"
        class="com.mpos.lottery.te.gameimpl.instantgame.dao.jpa.IGOperatorBatchDaoImpl">
        
    </bean>


</beans>

