<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<!-- ==================================================== -->
	<!-- SERVICE DEFINITION ................................. -->
	<!-- ==================================================== -->
	<bean id="extraballTicketService"
		class="com.mpos.lottery.te.gameimpl.extraball.sale.service.ExtraBallTicketService">
		<property name="reversalStrategyFactory" ref="reversalStrategyFactory" />
		<property name="baseTicketDao" ref="baseTicketDao" />
		<property name="baseEntryDao" ref="baseEntryDao" />
		<property name="baseGameInstanceDao" ref="baseGameInstanceDao" />
		<property name="merchantService" ref="merchantService" />
		<property name="baseJpaDao" ref="baseJpaDao" />
		<property name="gameDao" ref="gameDao" />
		<property name="uuidService" ref="uuidManager" />
		<property name="transactionService" ref="transService" />
		<!-- property name="incentiveStrategyFactory" ref="incentiveStrategyFactory" / -->
		<property name="extraBallAlgorithmDao" ref="extraballAlgorithmDao" />
	</bean>

	<bean id="extraballPrizeService"
		class="com.mpos.lottery.te.gameimpl.extraball.prize.service.ExtraBallPrizeService">
		<property name="reversalStrategyFactory" ref="reversalStrategyFactory" />
		<property name="baseTicketDao" ref="baseTicketDao" />
		<property name="baseEntryDao" ref="baseEntryDao" />
		<property name="baseGameInstanceDao" ref="baseGameInstanceDao" />
		<property name="baseWinningItemDao" ref="baseWinningItemDao" />
		<property name="baseJpaDao" ref="baseJpaDao" />
		<property name="payoutDao" ref="payoutDao" />
		<property name="uuidService" ref="uuidManager" />
		<property name="payoutStrategyFactory" ref="extraballPayoutStrategyFactory" />
		<property name="creditService" ref="creditService" />
		<property name="merchantService" ref="merchantService" />
		<property name="taxService" ref="taxService" />
		<property name="newPrintTicketDao" ref="newPrintTicketDao" />
	</bean>

	<!-- ==================================================== -->
	<!-- STRATEGY DEFINITION ................................ -->
	<!-- ==================================================== -->

	<bean id="extraballPayoutStrategyFactory"
		class="com.mpos.lottery.te.gameimpl.extraball.prize.support.PayoutStrategyFactory" />

	<bean id="extraBallRefundPayoutStrategy"
		class="com.mpos.lottery.te.gameimpl.extraball.prize.support.RefundPayoutStrategy">
		<property name="payoutStrategyFactory" ref="extraballPayoutStrategyFactory" />
		<property name="baseTicketDao" ref="baseTicketDao" />
		<property name="payoutDao" ref="payoutDao" />
		<property name="payoutDetailDao" ref="payoutDetailDao" />
		<property name="uuidService" ref="uuidManager" />
	</bean>

	<bean id="extraballNewPrintPayoutStrategy"
		class="com.mpos.lottery.te.gameimpl.extraball.prize.support.ExtraBallNewPrintPayoutStrategy">
		<property name="baseEntryDao" ref="baseEntryDao" />
		<property name="newPrintTicketDao" ref="newPrintTicketDao" />
		<property name="payoutStrategyFactory" ref="extraballPayoutStrategyFactory" />
		<property name="baseTicketDao" ref="baseTicketDao" />
		<property name="payoutDao" ref="payoutDao" />
		<property name="payoutDetailDao" ref="payoutDetailDao" />
		<property name="uuidService" ref="uuidManager" />
	</bean>

	<!-- ==================================================== -->
	<!-- DAO DEFINITION ..................................... -->
	<!-- ==================================================== -->

	<bean id="extraballTicketDao" parent="baseJpaDao"
		class="com.mpos.lottery.te.gameimpl.extraball.sale.dao.ExtraBallJpaTicketDao">
	</bean>

	<bean id="extraballAlgorithmDao" parent="baseJpaDao"
		class="com.mpos.lottery.te.gameimpl.extraball.sale.dao.JpaExtraBallAlgorithmDao">
	</bean>

</beans>

