<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">
    
   <bean id="magic100PrizeService"
		class="com.mpos.lottery.te.gameimpl.magic100.prize.service.impl.Magic100PrizeServiceImpl">
		<property name="reversalStrategyFactory" ref="reversalStrategyFactory" />
        <property name="baseTicketDao" ref="baseTicketDao" />
        <property name="creditService" ref="creditService" />
        <property name="baseEntryDao" ref="baseEntryDao" />
        <property name="merchantService" ref="merchantService" />
        <property name="gameInstanceService" ref="magic100GameInstanceService" />
        <property name="baseJpaDao" ref="baseJpaDao" />
        <property name="baseWinningItemDao" ref="baseWinningItemDao" />
        <property name="baseWinningStatisticsDao" ref="baseWinningStatisticsDao" />
        <property name="taxService" ref="taxService" />
        <property name="payoutStrategyFactory" ref="defaultPayoutStrategyFactory" />
        <property name="prizeLevelDao" ref="prizeLevelDao" />
        <property name="luckyNumberService" ref="defaultLuckyNumberService" />
	</bean>
	        
	<!-- ============================================================= -->
	<!-- SALE ........................................................ -->
	<!-- ============================================================= -->

	<bean id="magic100SaleService"
		class="com.mpos.lottery.te.gameimpl.magic100.sale.service.Magic100SaleService">
		<property name="reversalStrategyFactory" ref="reversalStrategyFactory" />
		<property name="merchantService" ref="merchantService" />
		<property name="uuidService" ref="uuidManager" />
		<property name="gameInstanceService" ref="magic100GameInstanceService" />
		<property name="transactionService" ref="transService" />
		<property name="baseJpaDao" ref="baseJpaDao" />
		<property name="ticketValidator" ref="magic100TicketValidator" />
		<property name="luckyNumberService" ref="defaultLuckyNumberService" />
		<property name="payoutDao" ref="payoutDao" />
		<property name="taxService" ref="taxService" />
		<property name="baseTicketDao" ref="baseTicketDao" />
		<property name="baseEntryDao" ref="baseEntryDao" />
	</bean>
	
    <bean id="offlineMagic100TicketService"
        class="com.mpos.lottery.te.gamespec.sale.service.DefaultOfflineTicketService">
        <property name="gameInstanceService" ref="magic100GameInstanceService" />
    </bean>	

	<bean id="defaultLuckyNumberService"
		class="com.mpos.lottery.te.gameimpl.magic100.sale.service.DefaultLuckyNumberService">
		<property name="luckyNumberDao" ref="jpaLuckyNumberDao" />
		<property name="luckyNumberSequenceDao" ref="jpaLuckyNumberSequenceDao" />
		<property name="requeuedNumbersDao" ref="requeuedNumbersDao" />
		<property name="baseJpaDao" ref="baseJpaDao" />
		<property name="uuidService" ref="uuidManager" />
	</bean>

	<bean id="magic100TicketValidator"
		class="com.mpos.lottery.te.gameimpl.magic100.sale.support.validator.Magic100TicketValidator">
		<property name="selectedNumberValidatorFactory" ref="magic100SelectedNumberValidatorFactory" />
		<property name="baseJpaDao" ref="baseJpaDao" />
	</bean>

	<bean id="magic100SelectedNumberValidatorFactory"
		class="com.mpos.lottery.te.gameimpl.magic100.sale.support.validator.Magic100SelectedNumberValidatorFactory">
	</bean>

	<bean id="magic100GameInstanceService"
		class="com.mpos.lottery.te.gameimpl.magic100.game.service.Magic100GameInstanceService">
		<property name="channelGameInstanceTimeDao" ref="channelGameInstanceTimeDao" />
		<property name="gameInstanceServiceFactory" ref="gameInstanceServiceFactory" />
		<property name="gameInstanceDao" ref="baseGameInstanceDao" />
		<property name="baseJpaDao" ref="baseJpaDao" />
		<property name="merchantService" ref="merchantService" />
	</bean>

	<bean id="luckyNumberActivityReportHandler"
		class="com.mpos.lottery.te.merchant.domain.logic.DefaultGameTypeActivityReportHandler">
		<property name="activityReportDao" ref="luckyNumberActivityReportDao" />
		<property name="activityReportService" ref="activityReportService" />
		<property name="supportedGameType" value="LUCKYNUMBER" />
	</bean>

	<!-- ==================================================== -->
	<!-- DAO DEFINITION ..................................... -->
	<!-- ==================================================== -->

	<bean id="luckyNumberActivityReportDao" parent="baseJpaDao"
        class="com.mpos.lottery.te.merchant.dao.BaseActivityReportJpaDao">
        <property name="ticketTableName" value="LK_TE_TICKET" />
	</bean>

	<bean id="jpaLuckyNumberSequenceDao" parent="baseJpaDao"
		class="com.mpos.lottery.te.gameimpl.magic100.sale.dao.jpa.JpaLuckyNumberSequenceDao">
	</bean>

	<bean id="jpaLuckyNumberDao" parent="baseJpaDao"
		class="com.mpos.lottery.te.gameimpl.magic100.sale.dao.jpa.JpaLuckyNumberDao">
	</bean>

    <bean id="requeuedNumbersDao" parent="baseJpaDao"
        class="com.mpos.lottery.te.gameimpl.magic100.sale.dao.jpa.JpaRequeuedNumbersDao">
    </bean>
</beans>

