<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<bean id="vatB2BReversalOrCancelStrategy"
		class="com.mpos.lottery.te.valueaddservice.vat.support.VatReversalOrCancelStrategy">
		<property name="reversalStrategyFactory" ref="reversalStrategyFactory" />
		<!-- The 'version' of TE sale transaction will be set to (-1 * gameType) -->
		<property name="reversalStrategyKey" value="{gameType:14,transType:200,version:-14}" />
		<property name="raffleTicketService" ref="raffleTicketService" />
		<property name="vatOperatorBalanceDao" ref="vatOperatorBalanceDao" />
		<property name="vatSaleTransactionDao" ref="vatSaleTransactionDao" />
	</bean>

	<bean id="vatB2CReversalOrCancelStrategy" parent="vatB2BReversalOrCancelStrategy">
		<property name="reversalStrategyKey" value="{gameType:18,transType:200,version:-18}" />
		<property name="magic100TicketService" ref="magic100SaleService" />
	</bean>

    <!-- 
	<bean id="vatOperatorBalanceDao" parent="baseJpaDao"
		class="com.mpos.lottery.te.valueaddservice.vat.dao.jpa.VatOperatorBalanceDaoImpl">
	</bean>

	<bean id="vatSaleTransactionDao" parent="baseJpaDao"
		class="com.mpos.lottery.te.valueaddservice.vat.dao.jpa.JpaVatSaleTransactionDao">
	</bean>
	-->
	
	<bean id="vatReprintTicketService"
		class="com.mpos.lottery.te.valueaddservice.vat.service.impl.VatReprintTicketServiceImpl">
	</bean>
	
	<bean id="downloadOfflineTicketService"
		class="com.mpos.lottery.te.valueaddservice.vat.service.impl.DownloadOfflineTicketServiceImpl">
		<property name="reversalStrategyFactory" ref="reversalStrategyFactory" />
		<property name="uuidService" ref="uuidManager" />
		<property name="reversalStrategyKey" value="{transType:340}" />
	</bean>
	
	
	<!-- ==================================================== -->
	<!-- DAO DEFINITION ..................................... -->
	<!-- ==================================================== -->
	<bean id="vatReprintTicketDao" parent="baseJpaDao"
        class="com.mpos.lottery.te.valueaddservice.vat.dao.jpa.VatReprintTicketDaoImpl">
    </bean>
	
	<bean id="offlinecancellationDao"
		class="com.mpos.lottery.te.gameimpl.magic100.sale.dao.jpa.JpaOfflineCancellationDao">
	</bean>
	
	<bean id="offLuckyNumberSequenceDao"
	    class="com.mpos.lottery.te.gameimpl.magic100.sale.dao.jpa.JpaOffLuckyNumberSequenceDao">
	</bean>
	
	<bean id="luckyNumberDao"
		class="com.mpos.lottery.te.gameimpl.magic100.sale.dao.jpa.JpaLuckyNumberDao">
	</bean>
	
</beans>